.heading{
    border: solid rgb(8, 7, 68) 2px;
    border-radius: 10px;  /* Smooth corners */
    padding: 10px 20px;   /* Space inside the border */
    text-align: center;   /* Center the text */
    font-family: 'Poppins', sans-serif;  /* Modern font */
    font-size: 26px;  /* Bigger text */
    font-weight: bold; 
    color: white;  
    background: linear-gradient(45deg, rgb(207, 21, 139), rgb(56, 56, 206)); /* Attractive gradient */
    text-shadow: 2px 2px 4px rgba(4, 24, 15, 0.4); /* Light shadow */
    width: fit-content; /* Adjust width based on content */
    margin: 20px auto; /* Center it horizontally */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* 3D effect */
}
.name,.contact,.selectBtn{
    border: 1px solid rgb(12, 90, 93);
    border-radius: 7px;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
}
.submitBtn{
    border: 1px solid rgb(12, 90, 93);
    border-radius: 10px;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
    color: rgb(182, 192, 192);
    background-color: black;
    font-weight: bolder;
}
.submitBtn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
    background-color: gray;
}
.formUser{
    text-align: center;
}